.footer-site {
  min-height: inherit;
  height: inherit;
  padding-bottom: 0;
  a p {
    color: #000;
  }
}

.footer-contacts {
  min-height: 130px;
  background: #fff;
  color: #3d3d3d;
  padding: 0 0 50px 0;
  ul {
    width: 100%;
    list-style: none;
    padding: 0;
  }
  li {
    display: table-cell;
    position: relative;
    list-style: none;
    text-align: center;
    padding: 30px 30px;
  }
  a p {
    display: block;
    position: relative;
  }
}

.footer-pills {
  a p {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  a:hover p:hover {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  li a p {
    background: rgba(0, 145, 190, 0.7) !important;
    margin: auto 10px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  a p i {
    font-size: 50px;
    text-align: center;
    width: 100%;
  }
}

.contacts-numbers {
  font-size: 30px;
}

.contacts-socials {
  font-size: 60px;
}

@media only (min-width: 320px) and (max-width: 479px){}
@media only (min-width: 480px) and (max-width: 767px){}
@media only (min-width: 768px) and (max-width: 991px){}
@media only (min-width: 992px) and (max-width: 1199px){}
@media only (min-width: 1200px){}