.resume {
  color: #ffffff;
  margin: 30px 300px 50px 300px;
}
.resume h1 {
  text-align: center;
  font-size: 45px;
  font-family: 'Poppins:700', sans-serif;
}
.resume h2 {
  text-align: left;
  font-size: 40px;
  font-family: 'Poppins:600', sans-serif;
}
.resume h3 {
  text-align: left;
  font-size: 35px;
  margin-bottom: 25px;
  font-family: 'Poppins:500', sans-serif;
}
.resume h4 {
  text-align: left;
  font-size: 30px;
  margin-top: 15px;
  font-family: 'Poppins:400', sans-serif;
}
.resume h5 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
  font-family: 'Poppins:300', sans-serif;
}
.resume p {
  text-align: left;
  font-size: 15px;
  font-family: 'Josefin Sans:300', sans-serif;
}
.resume a {
  color: #ffffff;
  font-family: 'Josefin Sans:300i', sans-serif;
}