.resume {
  padding-top: 0;
  color: #000000;
}

.resume h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Poppins Bold", sans-serif;
}

.resume h2 {
  text-align: left;
  font-size: 40px;
  font-family: "Poppins SemiBold", sans-serif;
}

.resume h3 {
  text-align: left;
  font-size: 35px;
  margin-bottom: 25px;
  font-family: "Poppins Medium", sans-serif;
}

.resume h4 {
  text-align: left;
  font-size: 30px;
  margin-top: 15px;
  font-family: "Poppins Regular", sans-serif;
}

.resume h5 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
  font-family: "Poppins Light", sans-serif;
}

.resume p {
  text-align: left;
  font-size: 15px;
  font-family: 'Josefin Sans:300', sans-serif;
}

.resume a {
  color: #000000;
  font-family: 'Josefin Sans:300i', sans-serif;
}